@charset "UTF-8";
.headerLoginArea, .logoArea {
	display: inline-block;
}

.logoArea {
	display: inline-block;
	width: 150px;
	height: 60px;
	margin-top: 0.4%;
	margin-left: 3.7%;
}

.imgArea {
	display: inline-block;	
	width: 65px;
	height: 65px;
	margin-top: 0.4%;
}

.headerLoginArea {
	font-size: 17px;
}

.headerLoginArea a, .headerLoginArea a:hover  {
	color: white;
	text-decoration: none;
}

.navArea {
	height: 40px;
	background-color: #008499;
}
.navContainer {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#nav {
	background-color: #008499;
}

#logoImg {
	height: inherit;
	width: inherit;
}

#logo2Img {
	height: inherit;
	width: inherit;
}
