<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Admin">

	<resultMap type="AllMember" id="panelMemberResultSet">
		<id property="mno" column="MNO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userAddress" column="USER_ADDRESS"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="leaveDate" column="LEAVE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="panelBirthday" column="PANEL_BIRTHDAY"/>
		<result property="panelGender" column="PANEL_GENDER"/>
		<result property="referPanelCode" column="REFER_PANELCODE"/>
		<result property="nominee" column="NOMINEE"/>
		<result property="panelLevel" column="PANELLEVEL_NAME"/>
		<result property="occupationNo" column="OCCUPATION_NAME"/>
		<result property="withdrawAccount" column="WITHDRAW_ACCOUNT"/>
		<result property="companyName" column="COMPANY_NAME"/> 
		<result property="cRegistrationNumber" column="C_REGISTRATION_NUMBER"/>
		<result property="panelRewordPoint" column="REWARD_POINT"/>
		<result property="researchResponseDate" column="RESEARCH_RESPONSE_DATE"/>
		<result property="cashoutAmount" column="CASHOUT_AMOUNT"/>
		<result property="ternaryCount" column="TERNARY_COUNT"/>
	</resultMap>
	
	<resultMap type="AllMember" id="newPanelResultSet">
		<id property="mno" column="MNO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userAddress" column="USER_ADDRESS"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="panelBirthday" column="PANEL_BIRTHDAY"/>
		<result property="panelGender" column="PANEL_GENDER"/>
	</resultMap>
	
	<resultMap type="PanelRewardHistory" id="PanelRewardHistoryResultMap">
		<id property="cashoutHistoryNo" column="CASHOUTHISTORY_NO"/>
		<result property="mno" column="MNO"/>
		<result property="cashoutAmount" column="CASHOUT_AMOUNT"/>
		<result property="account" column="WITHDRAW_ACCOUNT"/>
		<result property="applicantDate" column="CASHOUT_APPLICANT_DATE"/>
		<result property="confrimDate" column="CASHOUT_CONFIRM_DATE"/>
	</resultMap>
	<sql id="searchUserType">
		<if test="userType != null">
			AND USER_TYPE = #{userType}
		</if>
	</sql>
	
	<sql id="searchPanelLevel">
		<if test="panelLevel != null">
			<if test="userType == '패널'">
				AND PANELLEVEL_NAME = #{panelLevel}
			</if>
		</if>
	</sql>
	
	<sql id="searchInputName">
		<if test="searchInput != null">
			<if test="userType == '패널'">
				AND USER_NAME LIKE '%' || #{searchInput} || '%'
			</if>
			<if test="userType == '기업'">
				AND COMPANY_NAME LIKE '%' || #{searchInput} || '%'
			</if>
		</if>
	</sql>
	
	<sql id="newPanelSearchInputName">
		<if test="searchInput != null">
			AND USER_NAME LIKE '%' || #{searchInput} || '%'
		</if>
	</sql>
	
	<select id="memberInfoManagement" resultMap="panelMemberResultSet">
		SELECT /*+ INDEX_ASC(M IDX_PANEL_ENTDATE)  */
        M.MNO, M.USER_ID, M.USER_PWD, M.USER_NAME, M.USER_ADDRESS, M.USER_PHONE, M.USER_EMAIL, M.USER_TYPE, TO_CHAR(M.LEAVE_DATE, 'YYYY-MM-DD') AS LEAVE_DATE, TO_CHAR(M.ENT_DATE, 'YYYY-MM-DD') AS ENT_DATE, TO_CHAR(M.MODIFY_DATE, 'YYYY-MM-DD') AS MODIFY_DATE, P.PANEL_BIRTHDAY, P.PANEL_GENDER, P.REFER_PANELCODE, P.NOMINEE, O.OCCUPATION_NAME, P.WITHDRAW_ACCOUNT, L.PANELLEVEL_NAME, C.COMPANY_NAME, C.C_REGISTRATION_NUMBER FROM MEMBER M
        LEFT JOIN PANEL P ON (P.MNO = M.MNO)
        LEFT JOIN PANELLEVEL L ON (P.PANELLEVEL_NO = L.PANELLEVEL_NO)
        LEFT JOIN CORP C ON (C.MNO = M.MNO)
        LEFT JOIN OCCUPATION O ON (P.OCCUPATION_NO = O.OCCUPATION_NO)
		WHERE CERTIFICATION = 'Y'
		AND USER_TYPE != '관리자'
		<include refid="searchUserType"/>
		<include refid="searchPanelLevel"/>
		<include refid="searchInputName"/>
		ORDER BY ENT_DATE DESC
	</select>
	
	<select id="getListCountPanel" resultType="_int">
		SELECT COUNT(*) FROM MEMBER M
		LEFT JOIN PANEL P ON (P.MNO = M.MNO)
        LEFT JOIN PANELLEVEL L ON (P.PANELLEVEL_NO = L.PANELLEVEL_NO)
        LEFT JOIN CORP C ON (C.MNO = M.MNO)
		WHERE CERTIFICATION = 'Y'
		AND USER_TYPE != '관리자'
		<include refid="searchUserType"/>
		<include refid="searchPanelLevel"/>
		<include refid="searchInputName"/>
	</select>
	
	<select id="selectMember" parameterType="_int" resultMap="panelMemberResultSet">
		SELECT NVL2((SELECT MAX(RESEARCH_RESPONSE_DATE) FROM RESEARCHHISTORY WHERE MNO = #{mno}), TO_CHAR((SELECT MAX(RESEARCH_RESPONSE_DATE) FROM RESEARCHHISTORY WHERE MNO = #{mno}), 'YYYY-MM-DD'), '참여 기록 없음') AS RESEARCH_RESPONSE_DATE, 
        NVL2((SELECT SUM(CO.CASHOUT_AMOUNT) FROM CASHOUTHISTORY CH LEFT JOIN CASHOUT CO ON(CH.CASHOUT_NO = CO.CASHOUT_NO) WHERE MNO = #{mno}), (SELECT SUM(CO.CASHOUT_AMOUNT) FROM CASHOUTHISTORY CH LEFT JOIN CASHOUT CO ON(CH.CASHOUT_NO = CO.CASHOUT_NO) WHERE MNO = #{mno}), 0) AS CASHOUT_AMOUNT, 
        PT.TERNARY_COUNT,
        M.MNO, M.USER_ID, M.USER_PWD, M.USER_NAME, M.USER_ADDRESS, M.USER_PHONE, M.USER_EMAIL, M.USER_TYPE, TO_CHAR(M.LEAVE_DATE, 'YYYY-MM-DD') AS LEAVE_DATE, TO_CHAR(M.ENT_DATE, 'YYYY-MM-DD') AS ENT_DATE, TO_CHAR(M.MODIFY_DATE, 'YYYY-MM-DD') AS MODIFY_DATE, P.PANEL_BIRTHDAY, P.PANEL_GENDER, P.REFER_PANELCODE, P.NOMINEE, O.OCCUPATION_NAME, P.WITHDRAW_ACCOUNT, L.PANELLEVEL_NAME, C.COMPANY_NAME, C.C_REGISTRATION_NUMBER, PR.REWARD_POINT FROM MEMBER M
        LEFT JOIN PANEL P ON (P.MNO = M.MNO)
        LEFT JOIN PANELLEVEL L ON (P.PANELLEVEL_NO = L.PANELLEVEL_NO)
        LEFT JOIN OCCUPATION O ON (P.OCCUPATION_NO = O.OCCUPATION_NO)
        LEFT JOIN CORP C ON (C.MNO = M.MNO)
        LEFT JOIN PANELREWARD PR ON (PR.MNO = M.MNO)
        LEFT JOIN RESEARCHHISTORY RH ON (RH.MNO = M.MNO)
        LEFT JOIN PANELTERNARY PT ON(PT.MNO = M.MNO)
		WHERE CERTIFICATION = 'Y'
		AND M.MNO = #{mno}
	</select>
	
	<select id="getListCountPanelCashoutApplicant" resultType="_int">
		SELECT COUNT(*)
		FROM CASHOUTHISTORY
		WHERE CASHOUT_CONFIRM_DATE IS NULL
	</select>
	
	<select id="panelCashoutApplication" resultMap="PanelRewardHistoryResultMap">
		SELECT CH.CASHOUTHISTORY_NO, CH.MNO, C.CASHOUT_AMOUNT, P.WITHDRAW_ACCOUNT, TO_CHAR(CH.CASHOUT_APPLICANT_DATE, 'YYYY-MM-DD') AS CASHOUT_APPLICANT_DATE, CH.CASHOUT_CONFIRM_DATE
		FROM CASHOUTHISTORY CH
		JOIN PANEL P ON (P.MNO = CH.MNO)
		JOIN CASHOUT C ON (C.CASHOUT_NO = CH.CASHOUT_NO)
		WHERE CH.CASHOUT_CONFIRM_DATE IS NULL
		ORDER BY CASHOUT_APPLICANT_DATE ASC
	</select>
	
	<update id="cashoutPerson" parameterType="java.util.List">
		UPDATE CASHOUTHISTORY 
		SET CASHOUT_CONFIRM_DATE = SYSDATE
		WHERE CASHOUTHISTORY_NO IN 
		<foreach collection="list" item="item" open="(" close=")" separator=", " index="index">
			#{item}
		</foreach>
	</update>
	
	<select id="getListCountManageCashoutComplete" resultType="_int">
		SELECT COUNT(*)
		FROM CASHOUTHISTORY
		WHERE CASHOUT_CONFIRM_DATE IS NOT NULL
	</select>
	
	<select id="rewardCompleteHistoryList" resultMap="PanelRewardHistoryResultMap">
		SELECT CH.CASHOUTHISTORY_NO, CH.MNO, C.CASHOUT_AMOUNT, P.WITHDRAW_ACCOUNT, TO_CHAR(CH.CASHOUT_APPLICANT_DATE, 'YYYY-MM-DD') AS CASHOUT_APPLICANT_DATE, CH.CASHOUT_CONFIRM_DATE
		FROM CASHOUTHISTORY CH
		JOIN PANEL P ON (P.MNO = CH.MNO)
		JOIN CASHOUT C ON (C.CASHOUT_NO = CH.CASHOUT_NO)
		WHERE CH.CASHOUT_CONFIRM_DATE IS NOT NULL
		ORDER BY CASHOUT_APPLICANT_DATE ASC
	</select>

	<select id="getListCountNewPanel" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER M
		JOIN PANEL P ON (P.MNO = M.MNO)
		WHERE CERTIFICATION = 'Y'
		AND PANELLEVEL_NO = 1
		<include refid="newPanelSearchInputName"/>
	</select>
	
	<select id="selectNewPanelList" resultMap="newPanelResultSet">
		SELECT
        M.MNO,  M.USER_NAME, TO_CHAR(M.ENT_DATE, 'YYYY-MM-DD') AS ENT_DATE
        FROM MEMBER M
        JOIN PANEL P ON (P.MNO = M.MNO)
		WHERE CERTIFICATION = 'Y'researchPaymentApproved
		AND PANELLEVEL_NO = 1
		<include refid="newPanelSearchInputName"/>
		ORDER BY ENT_DATE DESC
	</select>
	
	<select id="selectOneNewPanel" parameterType="_int" resultMap="newPanelResultSet">
		SELECT
        M.MNO,  M.USER_NAME, M.USER_ID, P.PANEL_GENDER, P.PANEL_BIRTHDAY, M.USER_PHONE, M.USER_EMAIL,
        M.USER_ADDRESS, TO_CHAR(M.ENT_DATE, 'YYYY-MM-DD') AS ENT_DATE
        FROM MEMBER M
        JOIN PANEL P ON (P.MNO = M.MNO)
		WHERE CERTIFICATION = 'Y'
		AND PANELLEVEL_NO = 1
		AND M.MNO = #{mno}
	</select>
	
	<select id="getListCountArrovalList" resultType="_int">
		SELECT COUNT(*)
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 1
	</select>
	
	<resultMap type="map" id="approvalListMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="mno" column="MNO"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchReward" column="RESEARCH_REWARD"/>
		<result property="researchPrice" column="RESEARCH_PRICE"/>
		<result property="lastDate" column="LAST_DATE"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="researchReferReason" column="RESEARCH_REFERREASON"/>
	</resultMap>
	<select id="researchApprovalWaitList" resultMap="approvalListMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 1
	</select>
	
	<resultMap type="map" id="researchApprovalDetailMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="mno" column="MNO"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="targetNo" column="TARGET_NO"/>
		<result property="targetGender" column="TARGET_GENDER"/>
		<result property="targetAgeRange" column="TARGET_AGERANGE"/>
		<result property="targetLocation" column="TARGET_LOCATION"/>
		<result property="occupationNo" column="OCCUPATION_NAME"/>
		<result property="additionaltEtc" column="ADDITIONAL_ETC"/>
		<collection property="questionList" column="RESEARCH_NO" ofType="ResearchQuestion" javaType="java.util.List">
			<result property="questionNo" column="RQUESTION_NO"/>
			<result property="questionFormNo" column="QUESTION_FORM_NO"/>
			<result property="rquestionContext" column="RQUESTION_CONTEXT"/>
			<result property="questionVideoLink" column="RQUESTION_VIDEOLINK"/>
			<result property="mediaExplain" column="MEDIA_EXPLAIN"/>
			<result property="questionOrder" column="RESEARCH_ORDER"/>
			<collection property="requestChoiceList" column="RQUESTION_NO" ofType="ResearchChoice" javaType="java.util.List">
				<result property="choiceNo" column="RCHOICE_NO"/>
				<result property="choiceOrder" column="RCHOICE_ORDER"/>
				<result property="choiceContext" column="RCHOICE_CONTEXT"/>
			</collection>
		</collection>
	</resultMap>
	
	<select id="researchApprovalDetail" parameterType="_int" resultMap="researchApprovalDetailMap">
		SELECT *
		FROM RESEARCH R
        JOIN RESEARCHTARGET RT ON (R.RESEARCH_NO = RT.RESEARCH_NO)
        JOIN RESEARCHQUESTION RQ ON (R.RESEARCH_NO = RQ.RESEARCH_NO)
        JOIN OCCUPATION O ON (RT.OCCUPATION_NO = O.OCCUPATION_NO)
        LEFT JOIN RESEARCHCHOICE RC ON (RC.RQUESTION_NO = RQ.RQUESTION_NO)
		WHERE R.RESEARCH_NO = #{researchNo}
		ORDER BY RQ.RQUESTION_NO ASC, RC.RCHOICE_NO ASC 
	</select>
	
	<resultMap type="UploadFile" id="questionUploadFile">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="rquestionNo" column="RQUESTION_NO"/>
	</resultMap>
	
	<select id="questionUploadFiles" resultMap="questionUploadFile" parameterType="_int">
		SELECT * FROM UPLOADFILE U
		JOIN RESEARCHQUESTION RQ ON (RQ.RQUESTION_NO = U.RQUESTION_NO)
		WHERE RQ.RQUESTION_NO = #{questionNo}
	</select>
	
	<resultMap type="UploadFile" id="choiceUploadFile">
		<id property="fileNo" column="FILE_NO"/>
		<result property="fileType" column="FILE_TYPE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="rchoiceNo" column="RCHOICE_NO"/>
	</resultMap>
	
	<select id="choiceUploadFiles" resultMap="choiceUploadFile" parameterType="_int">
		SELECT * FROM UPLOADFILE U
		JOIN RESEARCHCHOICE RC ON (RC.RCHOICE_NO = U.RCHOICE_NO)
		WHERE RC.RCHOICE_NO = #{choiceNo}
	</select>
	
	<insert id="researchApproved" parameterType="ResearchState">
		INSERT INTO RSTATUSHISTORY VALUES
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 2, SYSDATE, NULL)
		<selectKey keyProperty="researchHistoryNo" resultType="_int" order="AFTER">
			SELECT SEQ_RSTATUSHISTORY.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="researchRefer" parameterType="ResearchState">
		INSERT INTO RSTATUSHISTORY VALUES
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 8, SYSDATE, #{referReason})
	</insert>
	
	<select id="getListCountReferList" resultType="_int">
		SELECT COUNT(*)
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 8
	</select>
	
	<select id="researchReferList" resultMap="approvalListMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 8
	</select>

	<resultMap type="map" id="researchReferDetailMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchReferReason" column="RESEARCH_REFERREASON"/>
	</resultMap>
	
	<select id="researchReferDetail" parameterType="_int" resultMap="researchReferDetailMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO = 8
        AND R.RESEARCH_NO = #{researchNo}
	</select>
	
	<insert id="insertConferenceHistory" parameterType="ResearchState">
		INSERT INTO CONFERENCEHISTORY VALUES
		(SEQ_CONFERENCEHISTORY.NEXTVAL, NULL, #{researchHistoryNo}, #{price})
	</insert>
	
	<insert id="insertReferConferenceHistory" parameterType="ResearchState">
		INSERT INTO CONFERENCEHISTORY VALUES
		(SEQ_CONFERENCEHISTORY.NEXTVAL, #{referReason}, #{researchHistoryNo}, #{price})
	</insert>
	
	<update id="updateResearchPrice" parameterType="ResearchState">
		UPDATE RESEARCH SET
		RESEARCH_PRICE = #{price}
		WHERE RESEARCH_NO = #{researchNo}
	</update>
	
	<select id="getListResearchWaitingPayment" resultType="_int">
		SELECT COUNT(*)
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
		WHERE RESEARCH_STATE_NO IN (2, 10)
	</select>
	
	<resultMap type="map" id="waitingPaymentListMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="mno" column="MNO"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchReward" column="RESEARCH_REWARD"/>
		<result property="researchPrice" column="RESEARCH_PRICE"/>
		<result property="lastDate" column="LAST_DATE"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="researchReferReason" column="RESEARCH_REFERREASON"/>
		<result property="researchState" column="RESEARCH_STATE"/>
	</resultMap>
	<select id="researchWaitingPayment" resultMap="waitingPaymentListMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
        JOIN RESEARCHSTATE RS ON (RH.RESEARCH_STATE_NO = RS.RESEARCH_STATE_NO)
		WHERE RS.RESEARCH_STATE_NO IN (2, 10)
	</select>
	
	<resultMap type="map" id="researchWaitPaymentDetailMap">
		<result property="researchNo" column="RESEARCH_NO"/>
		<result property="researchName" column="RESEARCH_NAME"/>
		<result property="researchPerpose" column="RESEARCH_PERPOSE"/>
		<result property="researchEngagementGoals" column="RESEARCH_ENGAGEMENT_GOALS"/>
		<result property="targetGender" column="TARGET_GENDER"/>
		<result property="targetAgeRange" column="TARGET_AGERANGE"/>
		<result property="targetLocation" column="TARGET_LOCATION"/>
		<result property="researchPeriod" column="RESEARCH_PERIOD"/>
		<result property="researchPrice" column="RESEARCH_PRICE"/>
		<result property="conferencePrice" column="CONFERENCE_PRICE"/>
	</resultMap>
	
	<select id="researchWaitPaymentDetail" parameterType="_int" resultMap="researchWaitPaymentDetailMap">
		SELECT *
		FROM RESEARCH R
		JOIN (SELECT RESEARCH_NO , MAX(RESEARCH_CHANGEDATE) AS LAST_DATE 
		      FROM RSTATUSHISTORY 
		      GROUP BY RESEARCH_NO) LATELY_HISTORY ON(LATELY_HISTORY.RESEARCH_NO = R.RESEARCH_NO)
		JOIN CORP C ON (C.MNO = R.MNO)
        JOIN RSTATUSHISTORY RH ON (RH.RESEARCH_CHANGEDATE = LATELY_HISTORY.LAST_DATE)
        JOIN RESEARCHTARGET RT ON (RT.RESEARCH_NO = R.RESEARCH_NO)
        LEFT JOIN CONFERENCEHISTORY CH ON (CH.RESEARCH_STATE_HISTORY_NO = RH.RESEARCH_STATE_HISTORY_NO)
		WHERE RESEARCH_STATE_NO IN (2, 10)
        AND R.RESEARCH_NO = #{researchNo}
	</select>
</mapper>



































