<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Corp">
	
	<resultMap type="com.opera.survway.corporation.model.vo.CorpMember" id="corpMemberResultSet">
		<id property="mno" column="MNO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userAddress" column="USER_ADDRESS"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="leaveDate" column="LEAVE_DATE"/>
		<result property="entDate" column="ENT_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="companyName" column="COMPANY_NAME"/>
		<result property="cRegistrationNumber" column="C_REGISTRATION_NUMBER"/>
	</resultMap>
	
	
	<select id="loginCheck" resultMap="corpMemberResultSet" parameterType="CorpMember">
		SELECT *
		FROM MEMBER M
		JOIN CORP C ON (M.MNO = C.MNO)
		WHERE USER_ID = #{userId}
		AND USER_TYPE = '기업'
		AND LEAVE_DATE IS NULL
		AND CERTIFICATION = 'Y'
	</select>
	
	<insert id="insertMember" parameterType="CorpMember">
		INSERT INTO MEMBER VALUES
		(SEQ_MNO.NEXTVAL, #{userId}, #{userPwd}, #{userName}, #{userAddress}, #{userPhone}, #{userEmail}, '기업', NULL, SYSDATE, SYSDATE, 'N')
		
		<selectKey keyProperty="mno" resultType="_int" order="AFTER">
			SELECT SEQ_MNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertCorp" parameterType="CorpMember">
		INSERT INTO CORP VALUES
		(#{mno}, #{companyName}, #{cRegistrationNumber})
	</insert>
	
	<select id="selectPwd" parameterType="string" resultType="string">
		SELECT USER_PWD
		FROM MEMBER
		WHERE USER_ID = #{userId}
	</select>
	
	<insert id="insertTermsCorp" parameterType="CorpMember">
		INSERT ALL
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 1, 'Y')
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 2, 'Y')
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 3, 'Y')
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 4, 'Y')
			INTO TERMSHISTORY VALUES(SEQ_TERMSHISTORY.NEXTVAL, #{mno}, 5, 'Y')
		SELECT * FROM DUAL
	</insert>
	
	<insert id="insertResearch" parameterType="corpResearch">
		INSERT INTO RESEARCH VALUES
		(SEQ_RESEARCH.NEXTVAL, #{researchName}, #{researchEngagementGoals}, #{researchPeriod}, #{mno}, #{researchPerpose}, NULL)
		<selectKey keyProperty="researchNo" resultType="_int" order="AFTER">
			SELECT SEQ_RESEARCH.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertTarget" parameterType="corpResearch">
		INSERT INTO RESEARCHTARGET VALUES
		(SEQ_RESEARCHTARGET.NEXTVAL, #{targetGender}, #{targetAgeRange}, #{targetLocation}, #{researchNo}, #{occupationNo}, #{additionaltEtc})
	</insert>
	
	<insert id="insertQuestion" parameterType="ResearchQuestion">
		INSERT INTO RESEARCHQUESTION VALUES
		(#{questionFormNo}, SEQ_QUESTION.NEXTVAL, #{researchNo}, 
		<if test="questionVideoLink != null">
			#{questionVideoLink}
		</if>
		<if test="questionVideoLink == null">
			NULL
		</if>
		,
		<if test="mediaExplain != null">
			#{mediaExplain}
		</if>
		<if test="mediaExplain == null">
			NULL
		</if> , #{questionOrder}, #{rquestionContext})
		<selectKey keyProperty="questionNo" resultType="_int" order="AFTER">
			SELECT SEQ_QUESTION.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertChoice" parameterType="ResearchChoice">
		INSERT INTO RESEARCHCHOICE VALUES
		(SEQ_CHOICE.NEXTVAL, #{choiceContext}, #{rquestionNo}, #{choiceOrder})
		<selectKey keyProperty="choiceNo" resultType="_int" order="AFTER">
			SELECT SEQ_CHOICE.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertImage" parameterType="UploadFile">
		INSERT INTO UPLOADFILE VALUES 
		(SEQ_UPLOADFILE.NEXTVAL, #{fileType}, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', NULL, NULL, NULL, #{rquestionNo}, NULL, NULL)
	</insert>
	
	<insert id="insertChoiceImage" parameterType="UploadFile">
		INSERT INTO UPLOADFILE VALUES 
		(SEQ_UPLOADFILE.NEXTVAL, #{fileType}, #{originName}, #{changeName}, #{filePath}, SYSDATE, 'Y', NULL, NULL, NULL, NULL, #{rchoiceNo}, NULL)
	</insert>
	
	<insert id="insertResearchState" parameterType="corpResearch">
		INSERT INTO RSTATUSHISTORY VALUES 
		(SEQ_RSTATUSHISTORY.NEXTVAL, #{researchNo}, 1, SYSDATE, NULL)
	</insert>
</mapper>



































