<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Inquiry">
	
	<resultMap type="com.opera.survway.panel.model.vo.Inquiry" id="InquiryResultSet">
		<id property="inquiryNo" column="INQUIRY_NO "/>
		<result property="inquiryTitle" column="INQUIRY_TITLE"/>
		<result property="inquiryContext" column="INQUIRY_CONTEXT"/>
		<result property="inquiryAnswer" column="INQUIRY_ANSWER"/>
		<result property="mno" column="MNO"/>
		<result property="inquiryCategoryNo" column="INQUIRYCATEGORY_NO"/>
		<result property="inquiryDate" column="INQUIRY_DATE"/>
		<result property="inquiryAnswerDate" column="INQUIRY_ANSWERDATE"/>
	</resultMap>
	
	
	<insert id="insertInquiry" parameterType="Inquiry">
		INSERT INTO INQUIRYHISTORY VALUES(SEQ_INQUIRY.NEXTVAL, #{inquiryTitle}, #{inquiryContext}, NULL, #{mno},#{inquiryCategoryNo},SYSDATE,NULL)
	</insert>
	
	<select id="selectAllMyInquiry" resultMap="InquiryResultSet" parameterType="Inquiry">
		SELECT * 
		FROM INQUIRYHISTORY 
		WHERE MNO = #{mno}
		<include refid="searchCategoryInquiry"/>
		<include refid="InquiryTitleExist"/>
		ORDER BY INQUIRY_DATE DESC
	</select>
	
	<sql id="searchCategoryInquiry">
		<if test="inquiryCategoryNo == 1">
			AND INQUIRYCATEGORY_NO = 1
		</if>
		<if test="inquiryCategoryNo == 2">
			AND INQUIRYCATEGORY_NO = 2
		</if>
		<if test="inquiryCategoryNo == 3">
			AND INQUIRYCATEGORY_NO = 3
		</if>
		<if test="inquiryCategoryNo == 4">
			AND INQUIRYCATEGORY_NO = 4
		</if>
	</sql>
	
	<sql id="InquiryTitleExist">
		<if test="inquiryTitle != null">
			AND INQUIRY_TITLE LIKE '%' || #{inquiryTitle} || '%'
		</if>
	</sql>
	
	<select id="getListCountInquiry" resultType="_int" parameterType="Inquiry">
		SELECT COUNT(*) FROM INQUIRYHISTORY
		WHERE MNO = #{mno}
		<include refid="searchCategoryInquiry"/>
		
	</select>
	
</mapper>



































