<?xml version="1.0" encoding="UTF-8"?>
<!-- XML 문서의 유효성 체크를 위해 필요한 부분 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.opera.survway.panel.model.vo.PanelMember" alias="PanelMember"/>
		<typeAlias type="com.opera.survway.corporation.model.vo.CorpMember" alias="CorpMember"/>
		<typeAlias type="com.opera.survway.panel.model.vo.Inquiry" alias="Inquiry"/>
		<typeAlias type="com.opera.survway.common.model.vo.AllMember" alias="AllMember"/>
		<typeAlias type="com.opera.survway.admin.model.vo.SearchMember" alias="SearchMember"/>
		<typeAlias type="com.opera.survway.admin.model.vo.PanelRewardHistory" alias="PanelRewardHistory"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/panel-mapper.xml"/>
		<mapper resource="mappers/corp-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/inquiry-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		
	</mappers>
</configuration>

